@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');


body, h1,h2,img {
  /* background-color: #F3F4F6; */
  margin: 0;
  padding: 0;
}


.header h1{
  font-family:'Arvo', serif;
  font-size: 2.5rem;
  /* background-color: #365314; */
  background-image: linear-gradient(to bottom right, red, yellow);
  padding: 1.5rem 0 ;
  /* border-radius: 40px; */
  color:rgb(250, 243, 243);
  position: fixed;
  z-index: 1;
  width: 100%;
  top:0;
  
}

.navbar{

  background-color: #0c0c0c;
  padding: 1.2rem 0;
  margin: 0;
  /* border-radius: 40px; */
  position: fixed;
  z-index: 1;
  width:100%;
  top:86px;
}

.links a{
  margin: 0 30px;
  text-decoration: none;
  padding: 0.2rem 2rem;
  font-size: 18px;
  border: 2px solid rgb(184, 178, 178);
  border-radius: 5px;
  color:rgb(202, 191, 191);
}

.links a:hover{
  background-color: #fffefc;
}

.home{
  position: relative;
  top:147px;
}

.home img{
  width: 100%;
  max-height: 70vh;
  opacity: 80%;
  margin: 1px;
  max-width: 90%;
  border-radius: 5px;
  border-top-right-radius: 350px;;
  border-bottom-right-radius: 350px;
}

.img-content{
  position:absolute;
  color:black;
  font-size: 30px;
  left:150px;
  top:50%;
  text-align: left;
  padding: 50px 0;
}

.login {
  border:3px solid black;
  margin: 50px 35%;
  border-top-left-radius: 70px;
  background-color:rgb(7, 83, 150);

  position:relative;
  top:147px;
}

.login input{
  margin:20px auto;
  display: block;
  padding: 5px;
}

.login button{
  padding: 10px;
  margin:20px;
  background-color: yellowgreen;
}


.signin{
  margin: 30px 35%;
  border-top-left-radius: 70px;
  background-color:rgb(7, 83, 150);
  border:3px solid black;
  padding: 5px;

  position:relative;
  top:147px;
}

.signin input{
  display: block;
  margin: 20px auto;
  padding: 5px;
}

.signin button{
  padding: 5px 10px;
  margin:5px;
  background-color: yellowgreen;
}

.side-nav{
  height: 100vh;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 145px;
  left: 0px;
  background-color: #0c0c0c;
  overflow-x: hidden;
  padding-top: 20px;
}


.side-nav a{
  margin:5px auto;
  padding: 10px 0;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.side-nav a:hover {
  color: #f1f1f1;
  /* border:2px solid #f1f1f1; */
  transform: scale(1.6);
}
.dashboard{
  position: relative;
  top: 145px;
  margin-left: 200px;
 
}

.dashboard input{
  margin:20px auto;
  padding: 10px;
}

.dashboard button{
  margin:20px 20px;
  font-size: 15px;
  font-weight: bolder;
}
.dashboard button:active{
  background-color: greenyellow;
}

.dashboard table , .update table {
  background-color:#3ead11;
  padding: 5px;
  border:2px solid rgb(22, 22, 22);
  margin : 20px auto;
  width:80%;
  max-width: 85%;
}

.dashboard table th, .update table th{
 border:2px solid rgb(14, 150, 26);
 background-color: rgb(18, 19, 18);
 color: white;
 padding: 5px;
}

.dashboard table tr,td , .update table tr,td{
  border:1px solid black;
}

.add{
  top: 145px;
   margin-left: 200px; 
  max-height: 100vh;
  position:relative;
}

.header-h1 {
  background-color: #E2E8F0;
  margin:0px auto;
  padding: 10px;
}

.add input{
  margin:30px auto;
  display: block;
  padding: 5px;
}

.add button{
  padding: 5px;
  margin: 10px ;
  display: inline;
  font-size: 15px;
  font-weight: bolder;
}
.add button:active{
  background-color: greenyellow;
}
 .add button#clear:active{
  background-color: rgb(182, 4, 4);
}

.update{
  top: 145px;
  margin-left: 200px; 
  max-height: 100vh;
  position:relative;
 
}

.update input{
  margin:30px auto;
  padding: 10px;
}

.update button{
  margin: 20px ;
  padding: 5px;
  font-size: 15px;
  font-weight: bolder;
}


.update button:active{
  background-color: greenyellow;
}

.update table td:focus{
  background-color: rgb(128, 109, 118);
}

/* .update table{
  background-color: rgb(43, 226, 113);
  padding: 5px;
  border:2px solid rgb(22, 22, 22);
  margin : 20px auto;
  width:80%;
}

.update table tr,td{
  border:1px solid black;
} */